.nav{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1vh 0.8vw;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 2vh 0px;
    transition: background-color .2s ease;
}
.nav:hover{
    background-color: rgba(255,255,255,0.158);
}
.icon{
    font-size: 2.5vh;
}