.nav{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px 0px;
    transition: background-color .2s ease;
}
.nav:hover{
    background-color: rgba(255,255,255,0.158);
}
.icon{
    font-size: 25px;
}