.main{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FBFFE9;
    min-height: 100vh;
    width: 175vw;
    justify-content: space-around;
    align-items: center;
}
.main *{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.main  .core-network{
    position: relative;
    height: 98.5vh;
    width: 25vw;
    background-color: #F9ABAB;
    display: flex;
    flex-direction: column;
}
.main .core-network .docker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}
.docker .cont1{
    height:12vh;
    margin: 2vh 1vw;
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    width:10vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .cont1 .ausf-svg{
    margin:1vh;
}
.docker .cont2{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    width:10vw;
    margin: 2vh 1vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .logo-nrf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5vh;
}
.logo-nrf .nrf-img{
    width: 5vh;
}
.docker .cont3{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    margin: 2vh 1vw;
    width:10vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .logo-net{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5vh;
}
.logo-net .udm-img{
    width: 5vh;
}
.logo-net .udr-img{
    width: 5vh;
}
.docker .cont4{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    width:10vw;
    margin: 2vh 1vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .cont5{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    margin: 2vh 1vw;
    width:10vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .cont5 .smf-svg{
    margin:1vh 0;
}
.docker .cont6{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    width:10vw;
    margin: 2vh 1vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .cont6 .amf-svg{
    margin:1.5vh 0;
}
.docker .cont7{
    padding: 5px;
    color: #202020;
    font-size: 1.5vh;
    height:12vh;
    width:10vw;
    margin: 2vh 1vw;
    background-color: #F1F1F1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.docker .cont7 .upf-svg{
    margin:1vh 0;
}
.playing{
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    height: 7vh;
    width: 10vw;
    background-color: rgb(216, 253, 218);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s ease;
}
.play .iconp1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.play .iconp1:hover{
    scale: 1;
}
.play:hover{
    scale: 1.05;
    cursor: pointer;
}
.main .ng-ran{
    position: relative;
    height: 98.5vh;
    width: 19vw;
    display: flex;
    flex-direction: column;
    background-color: #FEB7A1;
}
.ng-ran .base{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ng-ran .logo-base{
    display: flex;
    margin-top: 1vh;
    flex-direction: row;
    justify-content: center;
}
.ng-ran .logo-base .ran-img{
   width: 4em;
}
.ng-ran .base .station1{
    height: 10vh;
    width: 12vw;
    padding: 5px;
    font-size: 1.5vh;
    margin:2vh 3.5vw;
    background-color: white;
    border-radius: 10px;
}
.ng-ran .base .station2{
    height: 10vh;
    width: 12vw;
    padding: 5px;
    font-size: 1.5vh;
    margin:2vh 3.5vw;
    background-color: white;
    border-radius: 10px;
}
.ng-ran .base .divider{
    height: 0.5vh;
    width: 12vw;
    margin: 2vh 3.5vw;
    background-color: #525252;
    border-radius: 10px;
}
.ng-ran .base .station3{
    height: 10vh;
    width: 12vw;
    padding: 5px;
    font-size: 1.5vh;
    margin:2vh 3.5vw;
    background-color: white;
    border-radius: 10px;
}
.ng-ran .base .station4{
    height: 10vh;
    width: 12vw;
    padding: 5px;
    font-size: 1.5vh;
    margin:2vh 3.5vw;
    background-color: white;
    border-radius: 10px;
}
.ng-ran .playing2{
    height: 35vh;
    width: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ng-ran .play1{
    height: 7vh;
    width: 10vw;
    margin-top: 2vh;
    background-color: rgb(216, 253, 218);
    border-radius: 10px;
    transition: 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ng-ran .play1:hover{
    scale: 1.05;
    cursor: pointer;
}
.main .ues{
    position: relative;
    height: 98.5vh;
    width: 20vw;
    background-color: #C2EFFF;
}
.ues .ue-main{
    padding: 10px;
}
.main .packet{
    position: relative;
    height: 98.5vh;
    width: 30vw;
    background-color: #EBEAEA;
}
.main * .head{
    width: 100%;
    color: white;
    height: 4.5vh;
    font-size: 1.8vh;
    background-color: #353434;
    padding: 1vh;
}