@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
.table-container {
    margin: 200px 500px;
    width: 800px; 
    scale: 2;
  }
  
.my-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.my-table th,
.my-table td {
    padding: 10px;
    text-align: left;
}
  
.my-table th {
    background-color: #f2f2f2;
}
  
.my-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.my-table tr:hover {
   background-color: #ddd;
}