@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
.App{
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("public/wallpaper/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}